body {
    font-family: Sen;
    color: var(--white, #FFF);
    background-color: black;
}

header {
    display: flex;
    height: 88px;
    padding: 0px 75px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(37, 37, 37, 0.23) 100%);
}

footer {
    padding-left: 106px;
    display: flex;
    background-color: #181823;
}

.Inicio {
    background: linear-gradient(180deg, #181823 0%, rgba(24, 24, 35, 0.00) 100%);
}

.Trabajo {
    background: linear-gradient(180deg, rgba(24, 24, 35, 0.00) 0%, #181823 100%);
    padding: 40px;
    padding-top: 100px;
    padding-inline-end: 72px;
}

.banner {
    display: flex;
    padding-left: 33%;
}

.listbanner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.contact {
    font-weight: 700;
    font-style: normal;
}

.contactbanner {
    display: flex;
    background-color: #5221E6;
    padding: 10px 24px;
}

.presentation {
    display: inline-flex;
    padding: 72px;
    padding-top: 120px;
    padding-inline-end: 72px;
}

.imagensantiago {
    border-radius: 360px;
    width: 598px;
    height: 598px;
}

.datospresentation {
    padding-left: 38px;
    align-items: center;
    padding-block: 1px;
}

.nombreprincipal {
    font-weight: 700;
    font-size: 76px;
    line-height: 90%
}

.cargoprincipal {
    color: #B881FF;
    font-weight: 500;
    font-size: 60px;
}

.pprincipal {
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: lighter;
}

.workexp {
    display: block;
    padding-left: 20px;
}

.workexptitle {
    font-weight: 700;
    color: var(--light-grey, #8491A0);
}

.workexpdesc {
    font-weight: 700;
    font-size: 55px;
}

.enterpexp {
    display: flex;
    flex-direction: row;
}

.logomattelsa {
    width: 50%;
    display: flex;
    align-items: center;
    mix-blend-mode: lighten;
}

.logointernexa {
    width: 50%;
    display: flex;
    padding-left: 30px;
    align-items: center;
}

.logotennis {
    width: 50%;
    display: flex;
    padding-left: 50px;
    align-items: center;
    mix-blend-mode: lighten;
}

.workdesc {
    display: flex;
    justify-content: center;
}

.companycont {
    display: inline-block;
    width: 50%;
}

.companydatosprinc {
    display: flex;
}

.titlemattelsa {
    color: var(--green, #3CC74E);
}

.titleinternexa {
    color: #609BFF;
}

.titletennis {
    color: var(--pink, #E95D90);
}

.desccompany {
    width: 85%;
}

.Filosofia {
    display: inline-flex;
}

.artphilosopy {
    background-color: #FFF3E4;
    padding-left: 72px;
    padding-top: 120px;
}

.titlephy {
    font-size: 55px;
    color: #181823;
}

.pphy {
    font-size: 18px;
    color: #5B6876;
    width: 85%;
}

.pmabt {
    color: black;
}

.imgphilosophy {
    width: 720px;
    height: 600px;
}