@font-face {
    font-family: 'Sen';
    src: url('./Sen-VariableFont_wght.ttf') format('truetype');
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: Sen;
    color: var(--white, #FFF);
    overflow-x: hidden;
    background-color: black;
}
@media (max-width:600px){

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40px;
        padding: 0px 0px 0px 0px;
        width: 100vw;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(37, 37, 37, 0.23) 100%);
    }
    
    footer {
        padding-left: 50px;
        display: flex;
        background-color: #181823;
    }
    
    a {
        text-decoration: none;
      }
    
    .Inicio {
        background: linear-gradient(180deg, #181823 0%, rgba(24, 24, 35, 0.00) 100%);
        width: 100vw;
    }
    
    .Trabajo {
        background: linear-gradient(180deg, rgba(24, 24, 35, 0.00) 0%, #181823 100%);
        padding: 40px;
        padding-top: 100px;
        padding-inline-end: 72px;
        width: 100vw;
    }
    
    .banner {
        font-size: 2vw;
        display: flex;
        margin-left: -20px;
    }
    
    .listbanner {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        list-style: none;
    }
    
    .contact {
        font-weight: 500;
        font-style: normal;
        color: white;
    }
    
    .contactbanner {
        font-size: 1.5vw;
        display: flex;
        background-color: #5221E6;
        margin-left: 0px;
        padding: 0px 10px;
        justify-content: center;
        align-items: center;
    }
    
    .presentation {
        display: inline-block;
        padding: 23px;
        padding-top: 120px;
        padding-inline-end: 72px;
        justify-content: center;
        align-items: center;
    }
    
    .imagensantiago {
        margin-top: -70px;
        border-radius: 360px;
        width:500px;
        height: 500px;
    }
    
    .datospresentation {
        padding-left: 38px;
        align-items: center;
        align-content: center;
        padding-block: 1px;
    }
    
    .nombreprincipal {
        font-weight: 700;
        font-size: 76px;
        line-height: 90%;
        margin-bottom: -50px;
    
    }
    
    .cargoprincipal {
        color: #B881FF;
        font-weight: 700;
        font-size: 60px;
    }
    
    .pprincipal {
        font-family: Sen;
        font-size: 18px;
        font-style: normal;
        font-weight: lighter;
    }
    
    .workexp {
        display: block;
        padding-left: 20px;
    }
    
    .workexptitle {
        font-weight: 700;
        color: var(--light-grey, #8491A0);
    }
    
    .workexpdesc {
        font-weight: 700;
        font-size: 30px;
    }
    
    .enterpexp {
        display: flex;
        flex-direction: row;
    }
    
    .logomattelsa {
        width: 25%;
        display: flex;
        align-items: center;
        mix-blend-mode: lighten;
    }
    
    .logointernexa {
        width: 12%;
        display: flex;
        padding-left: 30px;
        align-items: center;
    }
    
    .logotennis {
        width: 20%;
        display: flex;
        padding-left: 50px;
        align-items: center;
        mix-blend-mode: lighten;
    }
    
    .workdesc {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .companycont {
        display: inline-block;
        width: 80%;
    }
    
    .companydatosprinc {
        display: flex;
    }
    
    .titlemattelsa {
        color: var(--green, #3CC74E);
    }
    
    .titleinternexa {
        color: #609BFF;
    }
    
    .titletennis {
        color: var(--pink, #E95D90);
    }
    
    .desccompany {
        width: 100%;
    }
    
    .Filosofia {
        display: inline-flex;
        width: 100vw;
    }
    
    .artphilosopy {
        background-color: #FFF3E4;
        padding-left: 72px;
        padding-top: 120px;
    }
    
    .titlephy {
        margin-top: -10px;
        font-size: 30px;
        color: #181823;
    }
    
    .pphy {
        font-size: 18px;
        color: #5B6876;
        width: 85%;
    }
    
    .pmabt {
        color: black;
        padding-bottom: 70px ;
    }
    
    .imgphilosophy {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    
    .skillsection {
        display: flex;
        flex-direction: column;
        padding: 40px;
        width: 90vw;
    }
    
    .skilltitle {
        font-size: 30px;
    }
    
    .pskill {
        color: var(--light-grey, #8491A0);
        width: 100%;
        font-size: 18px;
    }
    
    .pskill2 {
        color: var(--light-grey, #8491A0);
        font-size: 18px;
        width: 90%
    }
    
    .icon1 {
        height: 50px;
        width: 50px;
    }
    
    .techsection {
        display: grid;
        grid-column: auto;
    }
    
    .skillcontainer {
        display: flex;
        flex-direction: column;
    }
    
    .imgpython {
        padding-top: 15px;
    }
    
    .imgmongo {
        width: 313px;
        height: 79px;
    }
    
    .imgsap {
        width: 227px;
        height: 112px;
    }
    
    .descskill {
        color: var(--light-grey, #8491A0);
        font-size: 18px;
        width: 90%;
    }
    
    
    .letrascategorias {
        color: var(--white, #FFF);
        padding-left: 24px;
        padding-right: 24px;
        font-family: Sen;
        font-weight: 400;
        opacity: 0.7;
    }
    
    .skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 205px;
        border: 1px solid var(--level-1, #181823);
    }
    
    .projects {
        border: 1px solid #181823;
        background: linear-gradient(180deg, rgba(46, 19, 126, 0.15) 0%, rgba(0, 0, 0, 0.56) 100%);
        padding-bottom: 56px;
    }
    
    .sectproject {
        padding: 44px 158px 41px 60px;
    }
    
    .titleproject {
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
    }
    
    .pproject {
        width: 100%;
        color: var(--Light-Grey, #8491A0);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
    }
    
    .contenedorfichas {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-around;
        padding: 0px 66px 20px 66px;
    }
    
    .ficha1 {
        width: 410.033px;
        height: 651.854px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px rgba(228, 207, 255, 0.17);
    }
    
    .ficha2 {
        width: 410.033px;
        height: 651.854px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px rgba(228, 207, 255, 0.17);
    }
    
    .datosficha1 {
        width: 410px;
        height: 227.2px;
        border-radius: 0px 0px 10px 10px;
        background: rgba(0, 0, 0, 0.40);
        margin-top: 424.50px;
        text-align: start;
    }
    
    .datosficha2 {
        width: 410px;
        height: 227.2px;
        border-radius: 0px 0px 10px 10px;
        background: rgba(0, 0, 0, 0.40);
        margin-top: 424.50px;
        text-align: start;
    }
    
    .tituloficha {
        color: #FFF;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .tituloficha2 {
        padding-top: 20px;
    }
    
    .descficha {
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        /* 208.333% */
        padding: 0px 26px 0px 26px;
    }
    
    .contfinalficha {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 26px 15px 26px;
    }
    
    .finalficha1 {
        color: #FFF;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        /* 192.308% */
    }
    
    .finalficha2 {
        color: #FFF;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        /* 192.308% */
    }

    .sectcontact {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 15px;
        padding-top: 40px;
        padding-bottom: 80px;
        background: linear-gradient(180deg, #181823 0%, rgba(24, 24, 35, 0.00) 100%);
    }
    
    .titlecontact {
        font-size: 35px;
        font-weight: 700;
    }
    
    .pcontact {
        color: var(--light-grey, #8491A0);
        font-size: 18px;
    }
    
    .formsection {
        display: block;
        padding-top: 20px;
        padding-left: 10px;
    }
    
    .labelitemsform {
        font-size: 16px;
        font-weight: 400;
    }
    
    .inputitemsform {
        width: 480px;
        height: 40px;
        background: var(--level-1, #181823);
        color: white;
    }
    
    .inputitemsform2 {
        width: 480px;
        height: 40px;
        background: var(--level-1, #181823);
        color: white;
    }
    
    .enviarform {
        color: #fff;
        border: none;
        background: var(--purple, #5221E6);
        font-size: 18px;
        font-weight: 700;
        width: 490px;
        height: 50px;
    }
    
    .enviarform:hover {
        background-color: #181823
    }
    
    .enviarform:active {
        background-color: rgb(16, 16, 16);
        box-shadow: 0 5px #fff;
        transform: translateY(1px);
    }
    
    .footerdesc {
        color: #8491A0;
        font-size: 13px;
        font-weight: 400;
    }
    
    .conticonsfooter {
        display: flex;
        padding-left: 30px;
        padding-right: 30px;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    
    .iconsfooter {
        width: 24px;
        height: 24px;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    body {
        font-family: Sen;
        color: var(--white, #FFF);
        overflow-x: hidden;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40px;
        padding: 0px 0px;
        width: 100vw;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(37, 37, 37, 0.23) 100%);
    }
    
    footer {
        padding-left: 50px;
        display: flex;
        background-color: #181823;
    }
    
    a {
        text-decoration: none;
      }
    
    .Inicio {
        background: linear-gradient(180deg, #181823 0%, rgba(24, 24, 35, 0.00) 100%);
        width: 100vw;
    }
    
    .Trabajo {
        background: linear-gradient(180deg, rgba(24, 24, 35, 0.00) 0%, #181823 100%);
        padding: 40px;
        padding-top: 100px;
        padding-inline-end: 72px;
        width: 100vw;
    }
    
    .banner {
        font-size: 2vw;
        display: flex;
        margin-left: -20px;
    }
    
    .listbanner {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        list-style: none;
    }
    
    .contact {
        font-weight: 500;
        font-style: normal;
        color: white;
    }
    
    .contactbanner {
        font-size: 1.5vw;
        display: flex;
        background-color: #5221E6;
        margin-left: 0px;
        padding: 0px 7px;
        justify-content: center;
        align-items: center;
    }
    
    .presentation {
        display: inline-block;
        padding: 23px;
        padding-top: 120px;
        padding-inline-end: 72px;
        justify-content: center;
        align-items: center;
    }
    
    .imagensantiago {
        margin-top: -70px;
        border-radius: 360px;
        width:500px;
        height: 500px;
    }
    
    .datospresentation {
        padding-left: 38px;
        align-items: center;
        align-content: center;
        padding-block: 1px;
    }
    
    .nombreprincipal {
        font-weight: 700;
        font-size: 76px;
        line-height: 90%;
        margin-bottom: -50px;
    
    }
    
    .cargoprincipal {
        color: #B881FF;
        font-weight: 700;
        font-size: 60px;
    }
    
    .pprincipal {
        font-family: Sen;
        font-size: 18px;
        font-style: normal;
        font-weight: lighter;
    }
    
    .workexp {
        display: block;
        padding-left: 20px;
    }
    
    .workexptitle {
        font-weight: 700;
        color: var(--light-grey, #8491A0);
    }
    
    .workexpdesc {
        font-weight: 700;
        font-size: 30px;
    }
    
    .enterpexp {
        display: flex;
        flex-direction: row;
    }
    
    .logomattelsa {
        width: 25%;
        display: flex;
        align-items: center;
        mix-blend-mode: lighten;
    }
    
    .logointernexa {
        width: 12%;
        display: flex;
        padding-left: 30px;
        align-items: center;
    }
    
    .logotennis {
        width: 20%;
        display: flex;
        padding-left: 50px;
        align-items: center;
        mix-blend-mode: lighten;
    }
    
    .workdesc {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .companycont {
        display: inline-block;
        width: 80%;
    }
    
    .companydatosprinc {
        display: flex;
    }
    
    .titlemattelsa {
        color: var(--green, #3CC74E);
    }
    
    .titleinternexa {
        color: #609BFF;
    }
    
    .titletennis {
        color: var(--pink, #E95D90);
    }
    
    .desccompany {
        width: 100%;
    }
    
    .Filosofia {
        display: inline-flex;
        width: 100vw;
    }
    
    .artphilosopy {
        background-color: #FFF3E4;
        padding-left: 72px;
        padding-top: 120px;
    }
    
    .titlephy {
        margin-top: -10px;
        font-size: 30px;
        color: #181823;
    }
    
    .pphy {
        font-size: 18px;
        color: #5B6876;
        width: 85%;
    }
    
    .pmabt {
        color: black;
        padding-bottom: 70px ;
    }
    
    .imgphilosophy {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    
    .skillsection {
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 90vw;
    }
    
    .skilltitle {
        font-size: 30px;
    }
    
    .pskill {
        color: var(--light-grey, #8491A0);
        width: 100%;
        font-size: 18px;
    }
    
    .pskill2 {
        color: var(--light-grey, #8491A0);
        font-size: 18px;
        width: 90%
    }
    
    .icon1 {
        height: 50px;
        width: 50px;
    }
    
    .techsection {
        display: grid;
        grid-column: auto;
    }
    
    .skillcontainer {
        display: flex;
        flex-direction: column;
    }
    
    .imgpython {
        padding-top: 15px;
    }
    
    .imgmongo {
        width: 313px;
        height: 79px;
    }
    
    .imgsap {
        width: 227px;
        height: 112px;
    }
    
    .descskill {
        color: var(--light-grey, #8491A0);
        font-size: 18px;
        width: 90%;
    }
    
    
    .letrascategorias {
        color: var(--white, #FFF);
        padding-left: 24px;
        padding-right: 24px;
        font-family: Sen;
        font-weight: 400;
        opacity: 0.7;
    }
    
    .skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 205px;
        border: 1px solid var(--level-1, #181823);
    }
    
    .projects {
        border: 1px solid #181823;
        background: linear-gradient(180deg, rgba(46, 19, 126, 0.15) 0%, rgba(0, 0, 0, 0.56) 100%);
        padding-bottom: 56px;
    }
    
    .sectproject {
        padding: 44px 158px 41px 60px;
    }
    
    .titleproject {
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
    }
    
    .pproject {
        width: 100%;
        color: var(--Light-Grey, #8491A0);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
    }
    
    .contenedorfichas {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-around;
        align-items: center;
        padding: 0px 66px 20px 66px;
        
    }
    
    .ficha1 {
        width: 410.033px;
        height: 651.854px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px rgba(228, 207, 255, 0.17);
    }
    
    .ficha2 {
        width: 410.033px;
        height: 651.854px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px rgba(228, 207, 255, 0.17);
    }
    
    .datosficha1 {
        width: 410px;
        height: 227.2px;
        border-radius: 0px 0px 10px 10px;
        background: rgba(0, 0, 0, 0.40);
        margin-top: 424.50px;
        text-align: start;
    }
    
    .datosficha2 {
        width: 410px;
        height: 227.2px;
        border-radius: 0px 0px 10px 10px;
        background: rgba(0, 0, 0, 0.40);
        margin-top: 424.50px;
        text-align: start;
    }
    
    .tituloficha {
        color: #FFF;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .tituloficha2 {
        padding-top: 20px;
    }
    
    .descficha {
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        /* 208.333% */
        padding: 0px 26px 0px 26px;
    }
    
    .contfinalficha {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 26px 15px 26px;
    }
    
    .finalficha1 {
        color: #FFF;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        /* 192.308% */
    }
    
    .finalficha2 {
        color: #FFF;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        /* 192.308% */
    }

    .sectcontact {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 15px;
        padding-top: 40px;
        padding-bottom: 80px;
        background: linear-gradient(180deg, #181823 0%, rgba(24, 24, 35, 0.00) 100%);
    }
    
    .titlecontact {
        font-size: 35px;
        font-weight: 700;
    }
    
    .pcontact {
        color: var(--light-grey, #8491A0);
        font-size: 18px;
    }
    
    .formsection {
        display: block;
        padding-top: 20px;
        padding-left: 10px;
    }
    
    .labelitemsform {
        font-size: 16px;
        font-weight: 400;
    }
    
    .inputitemsform {
        width: 90vw;
        height: 40px;
        background: var(--level-1, #181823);
        color: white;
    }
    
    .inputitemsform2 {
        width: 90vw;
        height: 40px;
        background: var(--level-1, #181823);
        color: white;
    }
    
    .enviarform {
        color: #fff;
        border: none;
        background: var(--purple, #5221E6);
        font-size: 18px;
        font-weight: 700;
        width: 91vw;
        height: 50px;
    }
    
    .enviarform:hover {
        background-color: #181823
    }
    
    .enviarform:active {
        background-color: rgb(16, 16, 16);
        box-shadow: 0 5px #fff;
        transform: translateY(1px);
    }
    
    .footerdesc {
        color: #8491A0;
        font-size: 13px;
        font-weight: 400;
    }
    
    .conticonsfooter {
        display: flex;
        padding-left: 30px;
        padding-right: 30px;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    
    .iconsfooter {
        width: 24px;
        height: 24px;
    }
}

@media (min-width: 1000px) and (max-width: 1350px) {

    header {
        display: flex;
        height: 88px;
        padding: 0px 75px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(37, 37, 37, 0.23) 100%);
    }
    
    footer {
        padding-left: 106px;
        display: flex;
        background-color: #181823;
    }
    
    a {
        text-decoration: none;
      }
    
    .Inicio {
        background: linear-gradient(180deg, #181823 0%, rgba(24, 24, 35, 0.00) 100%);
    }
    
    .Trabajo {
        background: linear-gradient(180deg, rgba(24, 24, 35, 0.00) 0%, #181823 100%);
        padding: 40px;
        padding-top: 100px;
        padding-inline-end: 72px;
    }
    
    .banner {
        display: flex;
        padding-left: 33%;
    }
    
    .listbanner {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        list-style: none;
    }
    
    .contact {
        font-weight: 500;
        font-style: normal;
        color: white;
    }
    
    .contactbanner {
        display: flex;
        background-color: #5221E6;
        padding: 10px 24px;
    }
    
    .presentation {
        display: inline-flex;
        padding: 72px;
        padding-top: 120px;
        padding-inline-end: 72px;
    }
    
    .imagensantiago {
        border-radius: 360px;
        width: 598px;
        height: 598px;
    }
    
    .datospresentation {
        padding-left: 38px;
        align-items: center;
        align-content: center;
        padding-block: 1px;
    }
    
    .nombreprincipal {
        font-weight: 700;
        font-size: 76px;
        line-height: 90%;
        margin-bottom: -50px;
    
    }
    
    .cargoprincipal {
        color: #B881FF;
        font-weight: 700;
        font-size: 60px;
    }
    
    .pprincipal {
        font-family: Sen;
        font-size: 18px;
        font-style: normal;
        font-weight: lighter;
    }
    
    .workexp {
        display: block;
        padding-left: 20px;
    }
    
    .workexptitle {
        font-weight: 700;
        color: var(--light-grey, #8491A0);
    }
    
    .workexpdesc {
        font-weight: 700;
        font-size: 55px;
    }
    
    .enterpexp {
        display: flex;
        flex-direction: row;
    }
    
    .logomattelsa {
        width: 50%;
        display: flex;
        align-items: center;
        mix-blend-mode: lighten;
    }
    
    .logointernexa {
        width: 50%;
        display: flex;
        padding-left: 30px;
        align-items: center;
    }
    
    .logotennis {
        width: 50%;
        display: flex;
        padding-left: 50px;
        align-items: center;
        mix-blend-mode: lighten;
    }
    
    .workdesc {
        display: flex;
        justify-content: center;
    }
    
    .companycont {
        display: inline-block;
        width: 50%;
    }
    
    .companydatosprinc {
        display: flex;
    }
    
    .titlemattelsa {
        color: var(--green, #3CC74E);
    }
    
    .titleinternexa {
        color: #609BFF;
    }
    
    .titletennis {
        color: var(--pink, #E95D90);
    }
    
    .desccompany {
        width: 85%;
    }
    
    .Filosofia {
        display: inline-flex;
    }
    
    .artphilosopy {
        background-color: #FFF3E4;
        padding-left: 72px;
        padding-top: 120px;
    }
    
    .titlephy {
        font-size: 55px;
        color: #181823;
    }
    
    .pphy {
        font-size: 18px;
        color: #5B6876;
        width: 85%;
    }
    
    .pmabt {
        color: black;
    }
    
    .imgphilosophy {
        width: 720px;
        height: 600px;
    }
    
    .skillsection {
        display: flex;
        padding: 72px;
    }
    
    .skilltitle {
        font-size: 55px;
    }
    
    .pskill {
        color: var(--light-grey, #8491A0);
        width: 87%;
    }
    
    .pskill2 {
        color: var(--light-grey, #8491A0);
        font-size: 16px;
        width: 85%
    }
    
    .icon1 {
        height: 70px;
        width: 70px;
    }
    
    .techsection {
        display: block;
    }
    
    .skillcontainer {
        display: flex;
    }
    
    .imgpython {
        padding-top: 15px;
    }
    
    .imgmongo {
        width: 313px;
        height: 79px;
    }
    
    .imgsap {
        width: 227px;
        height: 112px;
    }
    
    .descskill {
        color: var(--light-grey, #8491A0);
        font-size: 16px;
        width: 89%;
    }
    
    
    .letrascategorias {
        color: var(--white, #FFF);
        padding-left: 24px;
        padding-right: 24px;
        font-family: Sen;
        font-weight: 400;
        opacity: 0.7;
    }
    
    .skills {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 360.333px;
        height: 205px;
        border: 1px solid var(--level-1, #181823);
    }
    
    .projects {
        border: 1px solid #181823;
        background: linear-gradient(180deg, rgba(46, 19, 126, 0.15) 0%, rgba(0, 0, 0, 0.56) 100%);
        padding-bottom: 56px;
    }
    
    .sectproject {
        padding: 44px 158px 41px 158px;
    }
    
    .titleproject {
        font-size: 55px;
        font-style: normal;
        font-weight: 700;
    }
    
    .pproject {
        width: 100%;
        color: var(--Light-Grey, #8491A0);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
    }
    
    .contenedorfichas {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 66px 20px 66px;
    }
    
    .ficha1 {
        width: 410.033px;
        height: 651.854px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px rgba(228, 207, 255, 0.17);
    }
    
    .ficha2 {
        width: 410.033px;
        height: 651.854px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px rgba(228, 207, 255, 0.17);
    }
    
    .datosficha1 {
        width: 410px;
        height: 227.2px;
        border-radius: 0px 0px 10px 10px;
        background: rgba(0, 0, 0, 0.40);
        margin-top: 424.50px;
        text-align: start;
    }
    
    .datosficha2 {
        width: 410px;
        height: 227.2px;
        border-radius: 0px 0px 10px 10px;
        background: rgba(0, 0, 0, 0.40);
        margin-top: 424.50px;
        text-align: start;
    }
    
    .tituloficha {
        color: #FFF;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .tituloficha2 {
        padding-top: 20px;
    }
    
    .descficha {
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        /* 208.333% */
        padding: 0px 26px 0px 26px;
    }
    
    .contfinalficha {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 26px 15px 26px;
    }
    
    .finalficha1 {
        color: #FFF;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        /* 192.308% */
    }
    
    .finalficha2 {
        color: #FFF;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        /* 192.308% */
    }

    .sectcontact {
        display: flex;
        padding-left: 182px;
        padding-right: 182px;
        padding-top: 40px;
        padding-bottom: 80px;
        background: linear-gradient(180deg, #181823 0%, rgba(24, 24, 35, 0.00) 100%);
    }
    
    .titlecontact {
        font-size: 55px;
        font-weight: 700;
    }
    
    .pcontact {
        color: var(--light-grey, #8491A0);
        font-size: 18px;
    }
    
    .formsection {
        display: block;
        padding-top: 50px;
        padding-left: 24px;
    }
    
    .labelitemsform {
        font-size: 16px;
        font-weight: 400;
    }
    
    .inputitemsform {
        width: 526px;
        height: 50px;
        background: var(--level-1, #181823);
        color: white;
    }
    
    .inputitemsform2 {
        width: 526px;
        height: 100px;
        background: var(--level-1, #181823);
        color: white;
    }
    
    .enviarform {
        color: #fff;
        border: none;
        background: var(--purple, #5221E6);
        font-size: 18px;
        font-weight: 700;
        width: 534px;
        height: 100px;
    }
    
    .enviarform:hover {
        background-color: #181823
    }
    
    .enviarform:active {
        background-color: rgb(16, 16, 16);
        box-shadow: 0 5px #fff;
        transform: translateY(1px);
    }
    
    .footerdesc {
        color: #8491A0;
        font-size: 16px;
        font-weight: 400;
    }
    
    .conticonsfooter {
        display: flex;
        padding-left: 650px;
        align-items: center;
        justify-content: space-between;
    }
    
    .iconsfooter {
        width: 24px;
        height: 24px;
    }
}

@media (min-width:1350px){

    header {
        display: flex;
        height: 88px;
        padding: 0px 75px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(37, 37, 37, 0.23) 100%);
    }
    
    footer {
        padding-left: 106px;
        display: flex;
        background-color: #181823;
    }
    
    a {
        text-decoration: none;
      }
    
    .Inicio {
        background: linear-gradient(180deg, #181823 0%, rgba(24, 24, 35, 0.00) 100%);
    }
    
    .Trabajo {
        background: linear-gradient(180deg, rgba(24, 24, 35, 0.00) 0%, #181823 100%);
        padding: 40px;
        padding-top: 100px;
        padding-inline-end: 72px;
    }
    
    .banner {
        display: flex;
        padding-left: 33%;
    }
    
    .listbanner {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        list-style: none;
    }
    
    .contact {
        font-weight: 500;
        font-style: normal;
        color: white;
    }
    
    .contactbanner {
        display: flex;
        background-color: #5221E6;
        padding: 10px 24px;
    }
    
    .presentation {
        display: inline-flex;
        padding: 72px;
        padding-top: 120px;
        padding-inline-end: 72px;
    }
    
    .imagensantiago {
        border-radius: 360px;
        width: 598px;
        height: 598px;
    }
    
    .datospresentation {
        padding-left: 38px;
        align-items: center;
        align-content: center;
        padding-block: 1px;
    }
    
    .nombreprincipal {
        font-weight: 700;
        font-size: 76px;
        line-height: 90%;
        margin-bottom: -50px;
    
    }
    
    .cargoprincipal {
        color: #B881FF;
        font-weight: 700;
        font-size: 60px;
    }
    
    .pprincipal {
        font-family: Sen;
        font-size: 18px;
        font-style: normal;
        font-weight: lighter;
    }
    
    .workexp {
        display: block;
        padding-left: 20px;
    }
    
    .workexptitle {
        font-weight: 700;
        color: var(--light-grey, #8491A0);
    }
    
    .workexpdesc {
        font-weight: 700;
        font-size: 55px;
    }
    
    .enterpexp {
        display: flex;
        flex-direction: row;
    }
    
    .logomattelsa {
        width: 50%;
        display: flex;
        align-items: center;
        mix-blend-mode: lighten;
    }
    
    .logointernexa {
        width: 50%;
        display: flex;
        padding-left: 30px;
        align-items: center;
    }
    
    .logotennis {
        width: 50%;
        display: flex;
        padding-left: 50px;
        align-items: center;
        mix-blend-mode: lighten;
    }
    
    .workdesc {
        display: flex;
        justify-content: center;
    }
    
    .companycont {
        display: inline-block;
        width: 50%;
    }
    
    .companydatosprinc {
        display: flex;
    }
    
    .titlemattelsa {
        color: var(--green, #3CC74E);
    }
    
    .titleinternexa {
        color: #609BFF;
    }
    
    .titletennis {
        color: var(--pink, #E95D90);
    }
    
    .desccompany {
        width: 85%;
    }
    
    .Filosofia {
        display: inline-flex;
    }
    
    .artphilosopy {
        background-color: #FFF3E4;
        padding-left: 72px;
        padding-top: 120px;
    }
    
    .titlephy {
        font-size: 55px;
        color: #181823;
    }
    
    .pphy {
        font-size: 18px;
        color: #5B6876;
        width: 85%;
    }
    
    .pmabt {
        color: black;
    }
    
    .imgphilosophy {
        width: 720px;
        height: 600px;
    }
    
    .skillsection {
        display: flex;
        padding: 72px;
    }
    
    .skilltitle {
        font-size: 55px;
    }
    
    .pskill {
        color: var(--light-grey, #8491A0);
        width: 87%;
    }
    
    .pskill2 {
        color: var(--light-grey, #8491A0);
        font-size: 16px;
        width: 85%
    }
    
    .icon1 {
        height: 70px;
        width: 70px;
    }
    
    .techsection {
        display: block;
    }
    
    .skillcontainer {
        display: flex;
    }
    
    .imgpython {
        padding-top: 15px;
    }
    
    .imgmongo {
        width: 313px;
        height: 79px;
    }
    
    .imgsap {
        width: 227px;
        height: 112px;
    }
    
    .descskill {
        color: var(--light-grey, #8491A0);
        font-size: 16px;
        width: 89%;
    }
    
    
    .letrascategorias {
        color: var(--white, #FFF);
        padding-left: 24px;
        padding-right: 24px;
        font-family: Sen;
        font-weight: 400;
        opacity: 0.7;
    }
    
    .skills {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 360.333px;
        height: 205px;
        border: 1px solid var(--level-1, #181823);
    }
    
    .projects {
        border: 1px solid #181823;
        background: linear-gradient(180deg, rgba(46, 19, 126, 0.15) 0%, rgba(0, 0, 0, 0.56) 100%);
        padding-bottom: 56px;
    }
    
    .sectproject {
        padding: 44px 158px 41px 158px;
    }
    
    .titleproject {
        font-size: 55px;
        font-style: normal;
        font-weight: 700;
    }
    
    .pproject {
        width: 50%;
        color: var(--Light-Grey, #8491A0);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
    }
    
    .contenedorfichas {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0px 66px 20px 66px;
    }
    
    .ficha1 {
        width: 410.033px;
        height: 651.854px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px rgba(228, 207, 255, 0.17);
    }
    
    .ficha2 {
        width: 625px;
        height: 488.873px;
        flex-shrink: 0;
        background-image: url(./resources/design1.png);
        background-size: 100% 100%;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px rgba(228, 207, 255, 0.17);
    }
    
    .datosficha1 {
        width: 410px;
        height: 227.2px;
        border-radius: 0px 0px 10px 10px;
        background: rgba(0, 0, 0, 0.40);
        margin-top: 424.50px;
        text-align: start;
    }
    
    .datosficha2 {
        width: 625px;
        height: 170.516px;
        border-radius: 0px 0px 10px 10px;
        background: rgba(0, 0, 0, 0.40);
        margin-top: 318px;
        text-align: start;
    }
    
    .tituloficha {
        color: #FFF;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .tituloficha2 {
        padding-top: 20px;
    }
    
    .descficha {
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        /* 208.333% */
        padding: 0px 26px 0px 26px;
    }
    
    .contfinalficha {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 26px 15px 26px;
    }
    
    .finalficha1 {
        color: #FFF;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        /* 192.308% */
    }
    
    .finalficha2 {
        color: #FFF;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        /* 192.308% */
    }

    .sectcontact {
        display: flex;
        padding-left: 182px;
        padding-right: 182px;
        padding-top: 40px;
        padding-bottom: 80px;
        background: linear-gradient(180deg, #181823 0%, rgba(24, 24, 35, 0.00) 100%);
    }
    
    .titlecontact {
        font-size: 55px;
        font-weight: 700;
    }
    
    .pcontact {
        color: var(--light-grey, #8491A0);
        font-size: 18px;
    }
    
    .formsection {
        display: block;
        padding-top: 50px;
        padding-left: 24px;
    }
    
    .labelitemsform {
        font-size: 16px;
        font-weight: 400;
    }
    
    .inputitemsform {
        width: 526px;
        height: 50px;
        background: var(--level-1, #181823);
        color: white;
    }
    
    .inputitemsform2 {
        width: 526px;
        height: 100px;
        background: var(--level-1, #181823);
        color: white;
    }
    
    .enviarform {
        color: #fff;
        border: none;
        background: var(--purple, #5221E6);
        font-size: 18px;
        font-weight: 700;
        width: 534px;
        height: 100px;
    }
    
    .enviarform:hover {
        background-color: #181823
    }
    
    .enviarform:active {
        background-color: rgb(16, 16, 16);
        box-shadow: 0 5px #fff;
        transform: translateY(1px);
    }
    
    .footerdesc {
        color: #8491A0;
        font-size: 16px;
        font-weight: 400;
    }
    
    .conticonsfooter {
        display: flex;
        padding-left: 650px;
        align-items: center;
        justify-content: space-between;
    }
    
    .iconsfooter {
        width: 24px;
        height: 24px;
    }
}
/* Melo */

.design1 {
    background-image: url(./resources/design1.png);
    background-size: 100% 150%;
}

.design2 {
    background-image: url(./resources/design2.png);
    background-position: center;
    background-size: 222.809% 100%;
}

.design3 {
    background-image: url(./resources/design3.png);
    background-size: 100% 100%;
}

.design4 {
    background-image: url(./resources/nohay.png);
    background-size: 100% 100%;
}

.design5 {
    background-image: url(./resources/nohay.png);
    background-size: 100% 100%;
}

.consultation1 {
    background-image: url(./resources/consultation1.jpeg);
    background-position: center;
    background-size: 302.811% 100%;
}

.consultation2 {
    background-image: url(./resources/dom2.png);
    background-size: 100% 100%;
}

.consultation3 {
    background-image: url(./resources/lp5.webp);
    background-size: 100% 100%;
}

.consultation4 {
    background-image: url(./resources/servidor-web.png);
    background-size: 100% 100%;
}

.workshop1 {
    background-image: url(./resources/nohay.png);
    background-size: 100% 100%;
}

.workshop2 {
    background-image: url(./resources/nohay.png);
    background-size: 100% 100%;
}

.workshop3 {
    background-image: url(./resources/nohay.png);
    background-size: 100% 100%;
}

.workshop4 {
    background-image: url(./resources/nohay.png);
    background-size: 100% 100%;
}

.workshop5 {
    background-image: url(./resources/nohay.png);
    background-size: 100% 100%;
}

.challenge1 {
    justify-items: center;
    background-image: url(./resources/ch1.png);
    background-size: 230% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.challenge2 {
    background-image: url(./resources/Netflix_Symbol_logo.webp);
    background-size: 100% 100%;
}

.challenge3 {
    background-image: url(./resources/bingo.png);
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.challenge4 {
    background-image: url(./resources/design3.png);
    background-size: 100% 100%;
}

.challenge5 {
    background-image: url(./resources/nohay.png);
    background-size: 100% 100%;
}

.challenge6 {
    background-image: url(./resources/ecommerce.png);
    background-size: 100% 100%;
}



/* ================================CONSULTA 1 ====================================== */

.consulta{
    padding: 15px 72px 15px 72px;
}

.encabezadoconsulta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numconsulta{
    font-size: 52px;
    margin-bottom: 1px;
}

.titleconsulta{
    font-size: 32px;
    color: #B881FF;
    margin-top: 0px;
}

.contenidoconsulta{
    background: linear-gradient(180deg, #181823 0%, rgba(24, 24, 35, 0.00) 100%);
}

.contenidoconsulta2{
    background: linear-gradient(180deg, rgba(24, 24, 35, 0.00) 0%, #181823 100%);
}

.sectprotocolos1{
    display: flex;
    flex-direction: row;
    padding: 15px 72px 15px 72px;
    align-items: center;
    padding-bottom: 50px;
}

.sectprotocolos2{
    display: flex;
    flex-direction: row;
    padding: 15px 72px 15px 72px;
    align-items: center;
}



.tituloprot{
    font-size: 32px;
    font-weight: 700;
}

.pprot1{
    width: 90%;
    color: var(--Light-Grey, #8491A0);
}

.pprot2{
    width: 100%;
    color: var(--Light-Grey, #8491A0);
}


.imgconsulta1{
    width: 50%;
    height: 50%;
}

.protright{
    padding-left: 60px;
}

/* ================================CONSULTA 2 ====================================== */

.contparrconsulta2{
    display: flex;
    flex-direction: column;
    padding: 15px 150px 25px 150px;
}

.parraconimagen{
    display: flex;
    flex-direction: row;
    padding: 15px 150px 25px 150px;
    align-items: center;
}

.descparr2{
    padding-left: 40px;
}

.imgcons22{
    width: 100%;
    height: 40%;
    padding-bottom: 30px;
}

.imgcons2{
    width: 40%;
    height: 60%;
}

.titlefocons2{
    font-size: 32px;
    font-weight: 700;
}

.parrafocons2{
    padding: 0px 30px 0px 30px;
    font-size: 20px;
    font-weight: 300;
    color: var(--Light-Grey, #8491A0);
}

/* ================================CONSULTA 2 ====================================== */

.contenidotarea3{ 
    padding: 0px 90px 15px 90px;
}

.lp2{
    width: 70%;
    height: auto;
}

.imgcent3{
    display: flex;
    justify-content: center;
}

.lcons31{
    color: #609BFF;
}

.lcons3{
    color: #B881FF;
}

.imgcons3{
    box-shadow: 0px 0px 10px 0px rgba(228, 207, 255, 0.17);
}

.contparrconsulta3fin{
    display: flex;
    flex-direction: column;
    padding: 15px 150px 25px 150px;
}

/* ================================ RETO 1 ====================================== */

.flashcardreto3{
    display: flex;
    flex-direction: row;
    padding: 72px 72px 0px 72px;
    justify-content: space-around;
}


.flashcard {
    width: 20%; /* Cambiamos el ancho a 100% para que sea responsive */
    max-width: 250px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    perspective: 1000px;
    box-shadow: rgba(255, 255, 255, 0.2) 10px 10px 10px 0px;
    animation: fadeIn 2s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.termino,
.definicion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
}

.def{
    padding: 15px;
}

.termino {
    transform: rotateY(0deg);
    transition: transform 0.5s;
}

.definicion {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.flashcard:hover .termino {
    transform: rotateY(180deg);
}

.flashcard:hover .definicion {
    transform: rotateY(0deg);
}
  

.p1,.p11,.r10,.r20{
    background-color: #ffcc00;
}
.p2,.p12,.r9,.r19{
    background-color: #66ccff;
}
.p3,.p13,.r8,.r18{
    background-color: #B881FF;
}
.p4,.p14,.r7,.r17{
    background-color: #5221E6;
}
.p5,.p15,.r6,.r16{
    background-color: #E95D90;
}
.p6,.p16,.r5,.r15{
    background-color:rgb(255, 136, 0);
}
.p7,.p17,.r4,.r14{ 
    background-color: #3CC74E;
}
.p8,.p18,.r3,.r13{
    background-color: #8491A0;
}
.p9,.p19,.r2,.r12{
    background-color: brown;
}
.p10,.p20,.r1,.r11{
    background-color: rgb(133, 96, 66);
}